body{
    background-color: #ebf5fe;
}
.navbar{
    background-color: #012343;
}
.navbar .btn{
    background-color: #b3ddfa  ;
    color:  #012343 !important;
    border: none;
}
.navbar .btn:hover{
    background-color: #b3ddfa  ;
    color:  #012343 !important;
    border: none;
}
.btnCardTop{
    background-color: transparent;
    border: none;
}
.card{
    background-image: url(/images/cardBackground.jpg);
    background-size: cover;
    
    color: #03396c !important;
}
.icons{
    color: #03396c !important;
}
.cardBtn{
    background-color:#03396c !important;
    color:  #b3cde0 !important;
}
.cardBtn:hover{
    background-color:#03396c !important;
    color:  #b3cde0 !important;
}